// font weights
// base font
// headings
@import "../modules/all";

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

// reset button styling
button {
  all: unset;
  color: blue;
  -webkit-text-fill-color: blue;
}

button:focus {
  outline: orange 5px auto;
}

// font-color
.font-white {
  color: $white;
}
// box model: margin/padding/border
.padding {
  &-sm {
    padding: 0.25rem;
  }

  &-md {
    padding: 0.75rem;
  }

  &-lg {
    padding: 1rem;
  }
}

.full-width {
  width: 100%;
}
