// font weights
// base font
// headings
@import "../modules/all";

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

button {
  all: unset;
  color: blue;
  -webkit-text-fill-color: blue;
}

button:focus {
  outline: orange 5px auto;
}
