.ContactForm {
  @include mar(6rem, auto, 18rem, auto);
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  box-shadow: $box-shadow;
  border-radius: 3px;
  background-image: linear-gradient(
      rgba(111, 207, 151, 0.5),
      rgba(111, 207, 151, 0.5)
    ),
    url("../../static/double-bubble-outline.png");
  border: 1px solid $mint-green;
  //   align-items: center;
  &__col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  &__col2 {
    align-self: flex-start;
    width: 60%;
  }

  & button {
    -webkit-text-fill-color: white;
  }
}

.MuiFormControl-root.MuiTextField-root {
  margin-top: 0;
}

.MuiFormHelperText-root,
.MuiFormHelperText-contained.Mui-error.MuiFormHelperText-marginDense {
  background: rgba(111, 207, 151, 0.5);
  margin: 0;
}
