.DeveloperCard {
  width: 45%;
  min-width: 450px;
  height: 52%;
  min-height: 80px;
  display: flex;
  position: absolute;
  top: 40%;
  right: 3%;

  justify-content: center;
  border-radius: 2px;
  align-items: center;
  background-image: linear-gradient(
    to left,
    rgb(43, 117, 93),
    rgb(47, 128, 237)
  );
}

.DeveloperCard__body {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 2px;
  //   width: 50vw;
  width: 99%;
  height: 96%;
  padding: 10px 10px;
  background-image: linear-gradient(
    to right,
    rgb(43, 117, 93),
    rgb(47, 78, 120)
  );

  &__text {
    padding: 0 0.5rem;
    color: $white;
    font-size: calc(13px + 0.16vw);
  }
}

.DeveloperCard__img-container {
  max-width: 175px;
  // width: auto;
  width: 42vw;
  min-width: 7rem;
}
