.DeveloperCard {
  @include dev-card-base;
  &:hover {
    border: 4px solid rgba(111, 207, 151, 0.4);
    box-shadow: 0 0 5px $link-blue;
    transform: scale(1.2) skew(0deg) translateX(-40px);
    opacity: 0.8;
    background: rgba(66, 71, 112, 0.6);
    transition: all 0.2s ease-in-out;
  }

  transform: skew(8deg) rotate(7deg);

  transition: all 0.2s ease-in-out;
  @media screen and (max-width: 495px) {
    // display: none;
    opacity: 0;
    // transform: translateY(5px);
  }

  &__text-head {
    // text-transform: uppercase;
    margin-right: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }

  &__text {
    padding: 0.5rem 0.5rem;
    color: $white;
    font-size: calc(13px + 0.16vw);
    line-height: 20px;
  }

  &__minimize-icon {
    position: absolute;
    top: 0;
    right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.email-link {
  color: $link-blue;
  &:hover {
    cursor: pointer;
  }
}

// .title {
//   opacity: 1;
// }
.devcard-nav {
  text-decoration: none;
  color: $link-blue;
}
