.DeveloperCard {
  width: 758px;
  height: 248px;
  display: flex;

  justify-content: center;
  border-radius: 12px;
  align-items: center;
  background-image: linear-gradient(
    to left,
    rgb(43, 117, 93),
    rgb(47, 128, 237)
  );
}

.DeveloperCard__body {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: $radius;
  //   width: 50vw;
  width: 750px;
  height: 238px;
  padding: 10px 10px;
  background-image: linear-gradient(
    to right,
    rgb(43, 117, 93),
    rgb(47, 128, 237)
  );

  &__text {
    color: $white;
  }
}
