.ProjectSection {
  @include pad($pr: 1rem, $pl: 1rem);
  &__main {
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    position: relative;

    &--scroll-control {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.textScroller {
  // border: 1px solid red;
  overflow: hidden;
  position: relative;
  width: 40%;
  height: 250px;

  &--scroll-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid red;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    right: 0;
  }
  &--top-blind {
    position: absolute;

    width: 100%;
    top: 0;
    height: 12%;
    // border: 1px solid green;
    &--scrolling {
      position: absolute;
      // background: linear-gradient(
      //   to bottom,
      //   rgba(255, 255, 255, 1),
      //   rgba(255, 255, 255, 0.5)
      // );
      width: 100%;
      top: 0;
      height: 12%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.5)
      );
    }
  }

  &--bottom-blind {
    position: absolute;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.1)
    );
    width: 100%;
    bottom: 0;
    height: 20%;
    // border: 1px solid green;
  }
}
.ProjectSection__text {
  // border: 1px solid blue;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 24px;
  z-index: -2000;
}

.ProjectSection___screenshots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  &:hover .screenshot-mobile {
    transform: none;
  }

  &:hover .screenshot-tablet {
    transform: rotate3d(0, 0, 0, 0deg) translate(5%);
  }
}

.screenshot-mobile-container {
  z-index: 4000;
  perspective: 1500px;
  width: 15%;
  // border: 1px solid red;
  .screenshot-mobile {
    transition: all 0.5s ease;
    transform: translate(140%) rotate3d(0, 1, 0, -45deg);
    width: 100%;
    display: inline-block;
    box-shadow: 37.2px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
      22.3px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  }
}

.screenshot-tablet-container {
  perspective: 2000px;
  width: 70%;
  // border: 1px solid pink;

  .screenshot-tablet {
    transition: all 0.5s ease;

    transform: rotate3d(0, 1, 0, -35deg);
    display: inline-block;
    width: 100%;
    box-shadow: 37.2px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
      22.3px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  }
}
