$sm: 0.25rem;
$md: 0.5rem;
$lg: 1rem;
$xlg: 1.5rem;
$xxlg: 2rem;

@mixin pad($pt: 0, $pr: 0, $pb: 0, $pl: 0) {
  padding-top: $pt;
  padding-right: $pr;
  padding-bottom: $pb;
  padding-left: $pl;
}

@mixin mar($mt: 0, $mr: 0, $mb: 0, $ml: 0) {
  margin-top: $mt;
  margin-right: $mr;
  margin-bottom: $mb;
  margin-left: $ml;
}
