//font-family -
$primary-font: Roboto, sans-serif;
//colors
$link-blue: rgb(47, 128, 237);

// page bg, font on colored bg
$white: rgb(255, 255, 255);

// footer
$light-gray: rgb(243, 243, 243);

// project cards, contact form
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// box radius
$radius: 10px;
